<p id="confirmBoxQuestion" class="">Do you want to sign in <%= @stampeder.fullname %>?</p>
<%= link_to_remote "Yes", :url => create_signin_path(@stampeder), :html => { :class => 'close' } %>
<%= link_to_function("No", nil, :class => 'close') do |page| page[:barcode].value = '' end %>