<% content_for :top_of_body do %>
<div id="signin_flash" style="display:none;">
<span id="just_signed_in">Will Cosgrove</span><br /> has been signed in</div>
<% end %>
<div id="registration_signin_form" class="center">
<%= render :partial => 'registration_signin' %>
</div>