<% content_for :top_of_body do %>
<div id="signin_flash" style="display:none;">
<p class="little_padding"><span id="just_signed_in">Will Cosgrove</span><br /> has been signed in</p></div>
<% end %>

<div id="registration_signin_form" class="center">
<%= render :partial => 'signin_page_forms' %>
</div>