body {
background-image:url(http://stampede10.com/assets/templates/stampede/images/stampedebg.jpg);
background-repeat:repeat-x;	
margin: 0 auto;
background-color:#b6511b;
font-family: Tahoma, Geneva, sans-serif;
font-size:14px;
}

#content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#top_images {
  height: 0px;;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#heading {
  position: absolute;
  height: 60px;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #59554E;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#59554E), to(#383631));
  text-align: center;
}

#box {
  width: 700px;
  margin: auto;
  margin-top: 25px;
  background: #ffffcd;
  padding: 10px;
}


label {
  display: block;
  float: left;
  width: 300px;
  margin: 3px 10px 0 0;
  text-align: right;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:14px;
}

input {
  font-family:Tahoma, Geneva, sans-serif;
  font-size:14px;
}

/*label:after {
  content: ":"
} */

/* classes */

.hidden {
  display: none;
}

.flash {
  height: 0px;
}

.shadow {
  box-shadow: 0px 0px 10px #222;
  -moz-box-shadow: 0px 0px 10px #222;
  -webkit-box-shadow: 0px 0px 10px #222;
}

#heading-one {
  padding: 10px 20px;
  margin-left: -37px;
  margin-top: 0px;
  position: relative;
  width: 70%;
}

#heading-two {
  padding: 10px 20px;
  margin-left: -35px;
  margin-top: 0px;
  position: relative;
  width: 70%;
  background: #b12100;
}

#heading-three {
  padding: 10px 20px;
  margin-left: -37px;
  margin-top: 0px;
  position: relative;
  width: 40%;
}

.fancy-heading {
  background: #000;
  box-shadow: 1px 1px 3px #797979;
  -moz-box-shadow: 1px 1px 3px #797979;  
  -webkit-box-shadow: 1px 1px 3px #797979;
  color: #F3F4E5;
  text-shadow: 0px 1px -1px #797979;
}

.fancy-error-heading {
  background: #D7801F;
  box-shadow: 1px 1px 3px #252525;
  -moz-box-shadow: 1px 1px 3px #252525;  
  -webkit-box-shadow: 1px 1px 3px #252525;
  color: #F3F4E5;
  text-shadow: 0px 1px -1px #252525;
}


#errorExplanation {
  background: #DFB972;
  border: 5px solid #b12100;
  padding: 10px;
}

.note {
  float: right;
  background: #F5F895;
  border: 5px solid #dbdd85;
  padding: 5px;
  height: 40px;
  vertical-align: middle;
}

#stampeder_submit {
margin-left: 450px;
}