<% form_remote_tag :url => search_path do %>
  <p class="center">
    <%= label_tag :query, "Type part of Stampeder's name" %><br />
    <%= text_field_tag :query, params[:query] %>
  </p>
<% end %>
<%= observe_field :query, :url => search_path, :frequency => 0.05, :with => 'query' %>
<div id="results">
</div>