<% if admin? %>
  <%= link_to 'Logout', logout_path %>
<% end %>
<h1>Welcome to the Stampede 2010 website!</h1>
<h6>Note: we are currently beta testing.</h6>

<%= link_to "Sign up here!", sign_up_path %>