<% content_for :title do %>All signed up!<% end %>
<div id="box" class="shadow" style="height:450px;">
<h1 id="heading-one" class="fancy-heading">You're all signed up <%= @stampeder.firstname %>!<span class="arrow"></span></h1>
<p>We just sent an email your way with more information about Stampede. Check it out and see how you can invite your friends.</p>
<h1>Hey!</h1>
<p>Get your friends to sign up by posting on Facebook!  Click on the Facebook icon below to let your friends know you signed up for Stampede. When your friends that don't attend McKinney signup, they will automatically join on your team. And when they come to Stampede, your team will receive 10,000 points!</p>
<hr/>
<a name="fb_share" type="button" share_url="<%= "register.stampede10.com/with_friend/#{@stampeder.referral_code}" %>">Share on Facebook</a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>